@import "../../../styles/colors.scss";

.avatars_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.user {
  width: 4rem;
  height: 4rem;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 99.9rem;

  &:hover {
    outline: 0.2rem solid $primary;
  }
}
