@import "../../styles/colors.scss";

.home_root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home_section {
  width: 100%;
  padding: 10rem 2rem 6.4rem;
  border-bottom-right-radius: 5rem;
  background: $accent;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: show-section-to-bottom 0.8s forwards;
}

.container {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

app-apresentation,
app-search-input,
app-last-repos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-apresentation {
  gap: 1.6rem;
}

app-last-repos {
  gap: 0.8rem;
}

@media (min-width: 768px) {
  .home_section {
    width: 75vw;
    height: 100vh;
    animation: show-section-to-right 0.8s forwards;
  }
}

@keyframes show-section-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-section-to-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
