@import "../../../styles/colors.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-size: 1.6rem;
  font-weight: 400;
  color: $light;
}

.input_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  height: 4rem;
  padding: 0 1.2rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.2rem solid $dark;
  border-right: none;
  background: #1c5d7e50;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: $light;

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: $light;
    opacity: 0.5;
  }

  &[data-error="true"] {
    border-color: #ff2222;
  }
}

button {
  width: 4.4rem;
  height: 4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  font-size: 1.6rem;

  &:disabled {
    opacity: 0.5;
  }
}

.error_message {
  font-size: 1.2rem;
  font-weight: 300;
  color: $light;
}
