@import "./app/styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: $dark;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Rowdies", sans-serif;
}
